.imposition {
	width: 640px;
	height: 480px;
}
video {
	transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);

	width: calc(100vmin / 2);
	height: calc(100vmin / (2 + 2/3));
	position: absolute;
	top: 4%;
	left: 16%;
	margin: 0 2%;
	padding: 0 0;
	border: solid 1px;
	border-color: #c3cee1;
}
canvas {
	width: calc(100vmin / 2);
	height: calc(100vmin / (2 + 2/3));
	position: absolute;
	top: 54%;
	left: 16%;
	margin: 0 2%;
	padding: 0 0;
	border: solid 1px;
	border-color: #c3cee1;
}

.filter-video {
	width: calc(100vmin / 2);
	height: calc(100vmin / (2 + 2/3));
	position: absolute;
	top: calc(4%);
	left: calc(16%);
	margin: 0 2%;
	padding: 0 0;
	border: solid 1px;
	border-color: #c3cee1;
}
.filter-canvas {
	width: calc(100vmin / 2);
	height: calc(100vmin / (2 + 2/3));
	position: absolute;
	top: 54%;
	left: 16%;
	margin: 0 2%;
	padding: 0 0;
	border: solid 1px;
	border-color: #c3cee1;
}


.filter-type {
	position: absolute;
	top: calc(4%);
	left: calc(100vmin / 2 + 16% + 5%);

}

.filter-type1 {
	background-color: transparent;
	float: left;
	text-align: left;
	width: 65%;
	text-align: center;
}

.take-a-photo{
	/*position: absolute;
	top: calc(100vmin / (2 + 2/3) + 4%);
	left: calc(16%);*/
}


/* ***************************************************************** */
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:hover + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #237b90;
}

input[type=radio] + label>img {
  border: 1px solid #237b90;
  width: 5vmin;
  height: 5vmin;
  margin: 1% 1%;
  transition: 500ms all;
}



.video-submit {
	width: 15vmin;
	color: #237b90;
	margin: 3% 1%;
}

.range-a{
	font-size: 1.4vmin;
}



.range {
    -webkit-appearance: none;
    width: 50%;
    height: 0.8vmin;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    margin: 1% 1%;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range:hover {
    opacity: 1;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1vmin;
    height: 1vmin;
    background: #237b90;
    cursor: pointer;
}

.range::-moz-range-thumb {
    width: 1vmin;
    height: 1vmin;
    background: #237b90;
    cursor: pointer;
}
